
@import url('http://fonts.googleapis.com/css?family=Poppins&displayer=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 
body{
	background-color: #FBF2F2;
}
main{
	display: grid;
	place-items: center;
	
}

main .container-top{
	text-align: center;
	width: 100%;
	margin-bottom: 2em;
	background-image: url('./bilder/start-bild1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
main .container-top img{
	width: 50%;

}
main .info-button{
	background-color: rgb(72, 70, 70);
    border-radius: 1em;
    font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5em;
	color: rgb(245, 242, 242); 
    border-radius: 1em;
    width: 15em;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
main .info-button:hover{
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

.container img{
    width: 50%;
    padding: 1em;
}
button{
    background-color: #F6DFA1;
    border-radius: 1em;
    height: 2em;
    width: 5em;
    margin-bottom: 1em;

}
button:hover{
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

main .container-bottom{
	margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 1em;
    grid-template-rows: 1fr;
	margin-right: 1em;
    
    @media (max-width: 750px) {
		display:grid;
        grid-template-columns: 1fr 1fr;    
	}
    
    @media (max-width: 600px) {
		display:grid;
        grid-template-columns: 1fr;
    }
}
.container{
    background-color:#f7f5f0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;  
    margin-bottom: 2em;
    padding-bottom: 1em;
    width: 90%;
    box-shadow: 0 0 10px 5px #F6DFA1 ;
    
}