
@import url('http://fonts.googleapis.com/css?family=Poppins&displayer=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
} 
body{
	background-color: #FBF2F2;
}
