footer {
	background-color: #F6CF6D;
	box-shadow: 15px 0 10px  rgba(0, 0, 0, 0.1);
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
}

footer .kontakt img {
	width: 3em;
	padding: 0 0 10px   ;
}

