* {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(42, 42, 42);
}

body {
	min-height: 100vh;
	background-color: #FBF2F2;
}

nav {
	display: flex;
	align-items: center;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: #F6CF6D;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
}

header .logo {
	width: 3.2em;
}

.kundvgn {
	width: 4em;
}

.sök {
	width: 1.2em;
	margin-left: 10px;
}

header input {
	padding: 2px;
	width: 10em;
	border: 2px solid;
	border-radius: 9px;
	background-color: #f5db8f;
}

header .navbar ul {
	list-style: none;
}

header .navbar ul li {
	position: relative;
	float: left;
}

header .navbar ul li a {
	font: size 20px;
	padding: 20px;
	display: block;
}

header .navbar ul li a:hover {
	background-color: #eec856;
	color: #000000;
	font-weight: bold;

}

header .navbar ul li .dropdown-menu {
	position: absolute;
	left: 0;
	width: 190px;
	background-color: #F6CF6D;
	display: none;
}

header .navbar ul li .dropdown-menu li {
	width: 100%;
	border-top: 1px solid rgb(41, 41, 41);
}

header .navbar ul li .dropdown-menu li ul {
	left: 200px;
	top: 0;
}

header .navbar ul li:hover>ul {
	display: initial;
}

@media (max-width: 650px) {
	body {
		padding-top: 6.7em;
	}

	header {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	header input {
		margin: 10px;
		width: 100%;
	}

	header .navbar ul {
		position: absolute;
		top: 85%;
		left: 0;
		right: 0;
		background-color: #F6CF6D;
		display: flex;
		justify-content: center;
		font-weight: bold;

	}

	header .navbar ul li .dropdown-menu li {
		display: none;
	}

}