/* Rectangle 41 */
body{
    margin: 0;
    padding: 0;
}

.kropp{
    display: grid; 
    place-items: center;  
}
.produkt-top{
    display: flex;
    width: 70%;
    padding: 3em;
    /* margin: 5em; */
    background: #F6DFA1;
    border-radius: 1em; 
    margin-top: 3em;

    @media (max-width: 900px) {
        padding: 1em;
        padding-top: 2em;
    }
    @media (max-width: 550px) {
        padding: 0em;
        padding-top: 1em;
    }
}
.produkt-top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    width: 70%;
    padding: 1em;
    text-align: center;
}
main .produkt-top img{
    width: 80%;
    border-radius: 1em;
}
button{
    background-color: rgb(244, 198, 113);
    border-radius: 1em;
    height: 2em;
    width: 5em;
    margin-bottom: 1em;

}
.s-knapp{
    background-color: rgb(244, 198, 113);
    border-radius: 1em;
    width: 40%;
    font-size: 18px;

}

.white{
    
    width: 50%;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    
}
.Orang{
    
    width: 100%;

    @media (max-width: 650px) {
        padding-top: 0.5em;
    }
    
}
.black{
    padding-top: 1em;
    padding-bottom: 1.1em;
    width: 65%;
}

.container{
    background-color:#F6DFA1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;  
    padding-bottom: 1em;
}
.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3em;
    width: 50%;
    height: 90%;
    border-radius: 1em;
}
p{
    margin: 0;
}
.produkt-bottom{
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 2em;
    grid-template-rows: 1fr;

    @media (max-width: 750px) {
     display:grid;
     grid-template-columns: 1fr 1fr;    
    }

    @media (max-width: 470px) {
        display:grid;
        grid-template-columns: 1fr;
    }
    
} 
.container1{
    background-color:#F6DFA1 ;
    width: 60%; 
    border-radius: 1em; 
    padding: 1em;
    margin-bottom: 3.5em; 
}
.container1 p{
    margin: 1em;
}
